div.diets {
  border-radius: 40px;
  background: rgba(220, 220, 220, 0.7);
  padding: 6px;
  padding-bottom: 0px;
  margin: 5px;
  text-align: right;
  border: 1px solid white;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.5);

  .diet {
    margin: 3px;
  }
}
