div.diets {
  z-index: 2;
  position: absolute;
  border-radius: 40px;
  right: 15px;
  bottom: 15px;
  background: rgba(255, 255, 255, 0.5);
  padding: 6px;
  padding-bottom: 0px;
  margin: 5px;
  text-align: right;
  vertical-align: center;

  .diet {
    margin: 3px;
  }
}
