<div class="header">
  <div class="container clearfix">
    <div id="logo"></div>
    <div class="header__description">Recipe book</div>
  </div>

</div>

<nav [ngClass]="{'fixed': fixedNav}">
  <a routerLink="/posts" routerLinkActive="active" title="Home"><img id="home-button" src="assets/img/home.svg"/></a>
  <!--<a routerLink="/categories" routerLinkActive="active" title="Categories">Categories</a>-->
  <a routerLink="/posts" routerLinkActive="active" title="Posts">Posts</a>
  <form class="search-form" #searchForm="ngForm" (ngSubmit)="search()">
    <input type="text" id="search" name="search" [(ngModel)]="searchString" title="Search"/>
    <button type="submit" class="btn btn-primary" >&#x2315;</button>
  </form>
</nav>


<div class="content">
  <router-outlet (activate)="onActivate($event)"></router-outlet>
</div>
<div>Footer</div>
