html, body {
  height: 100%;
  background-color: #86775d;
}

.content {
  margin-top: 55px;
}



.header {
  width: 100%;
  height: 45px;
  //margin: 5px;
  background-color: #fff;

  div#logo {
    display: inline-block;
    height: 30px;
    width: 20%;
    float: left;
    margin-left: 25px;
    //margin-top: 4px;

    background: url(../assets/img/erime-logo-small.svg) no-repeat top left;
    background-size: contain;
  }

  &__description {
    text-align: right;
    margin-right: 80px;
    margin-top: 8px;
    font-size: larger;
    font-weight: lighter;
  }
}
