<div class="header">
  <div class="container clearfix">
    <div id="logo"></div>
  </div>
  <div class="header__description">Recipe book</div>
</div>

<nav [ngClass]="{'fixed': fixedNav}">
  <a routerLink="/posts" routerLinkActive="active" title="Home"><img id="home-button" src="assets/img/home.svg"/></a>
  <a routerLink="/categories" routerLinkActive="active" title="Categories">Categories</a>
  <a routerLink="/posts" routerLinkActive="active" title="Posts">Posts</a>
</nav>

<div class="content">
  <router-outlet></router-outlet>
</div>
<div>Footer</div>
