div#post-wrapper {
  margin: 8px;
}

.unit-converter-help {
  color: brown;
}

.fb-likes {

  display: inline-block;

  div {
    display: inline-block;
    font-size: 1.5em;
  }

  img {
    height: 30px;
    float: left;
    margin-right: 2px;
  }


}


img {
  max-width: 100%;
  height: auto;
}
