<div id="post-wrapper" *ngIf="postLoadStatus==='success'"
     [ngClass]="{'shift-right': peekPrevPost, 'shift-left': peekNextPost}">
  <h1>{{post.title.rendered}}</h1>
  <div class="post-date">Date updated: {{post.modified_gmt | date : "dd/MM/yyyy HH:mm:ss"}}</div>
  <div id="peek-next" *ngIf="peekNextPost">{{post.prev_post.title}}</div>
  <div id="peek-prev" *ngIf="peekPrevPost">{{post.next_post.title}}</div>

  <div>
    <div class="left-20">
      <div class="fb-likes"><img src="assets/img/facebook-logo.svg"/>
        <div>{{post.fbShares}}</div>
      </div>
    </div>
    <div class="right-80">
      <div *ngIf="isShoppingList">
        <a class="button dish" *ngIf="post.acf.ingredients" (click)="showRecipe()">Recipe</a>
      </div>
      <div *ngIf="!isShoppingList">
        <a class="button ingredients" *ngIf="post.acf.ingredients" (click)="showShoppingList()">Shopping list</a>
      </div>
    </div>
  </div>




  <div *ngIf="isShoppingList">
    <app-shopping-list [post]="post"></app-shopping-list>
  </div>
  <div *ngIf="!isShoppingList">
    <app-recipe [post]="post"></app-recipe>

  </div>

</div>

<div *ngIf="postLoadStatus==='loading'" class="post-outer">
  <div class="post-inner">
    <div class="spinner-loader"></div>
  </div>
</div>
