<div class="wrap">
  <div>Posts: {{posts ? posts.length : ''}} of {{totalPosts}} --- Page: {{page}} of {{totalPages}}
    <a (click)="previousPage()">&lt;&lt; Prev</a>
    <a (click)="nextPage()">Next &gt;&gt;</a>
  </div>
  <div *ngIf="postsLoadStatus==='error'">Error loading posts</div>
  <div *ngIf="posts.length > 0">
    <a href="/post/{{post.id}}" *ngFor='let post of posts'>
      <div class="post-outer">

        <div class="post-inner">
          <h1>{{post.acf.short_title ? post.acf.short_title : post.title.rendered}}</h1>
          <div class="diets">
            <div *ngFor='let diet of post.diets' class="diet cat-{{diet.slug}}" title="{{diet.name}}"></div>
          </div>
          <!--<p class="post-date">Posted {{post.date | date}}</p>-->
          <div class="loader" *ngIf="post.imageStatus ==='loading'">
            <img src="assets/img/loader-2_fooda.gif">
          </div>
          <img *ngIf="post.image" src="{{post.image}}" alt="img">
          <img *ngIf="!post.image" src="assets/img/post-no-image.png" alt="img">
          <!--<p [innerHTML]='post.content.rendered'></p>-->
        </div>

      </div>
    </a>
  </div>
  <div *ngIf="postsLoadStatus==='loading'" class="post-outer">
    <div class="post-inner">
      <div class="loader">
        <img src="assets/img/loader-2_fooda.gif">
      </div>
    </div>
  </div>
  {{isBottom}} {{pos}}
</div>
